<!-- <h1>
  {{title}}

</h1> -->

<div class="app-container">
  <md-sidenav-layout>
      <md-sidenav #start>
        <!-- <md-slider [(ngModel)]="radius" min="10" max="1000" #slidey></md-slider> -->
        <md-list>
          <md-list-item><button md-button>Circular Table</button></md-list-item>
          <md-list-item><button md-button>Rectangular Table</button></md-list-item>
          <md-list-item><button md-button>Square Table</button></md-list-item>
          <md-list-item><button md-button>Corner Table</button></md-list-item>
        </md-list>
      </md-sidenav>
      <div class="app-content" (mousewheel)="scaleFloor($event)">
        <button id="menu-button" md-fab (click)="start.open()"><i class="material-icons app-toolbar-menu">menu</i></button>
        <div class="building-view">
          <floor-view [ngStyle]="{
            'transform':'scale('+floor_scale+')'
          }"></floor-view>
        </div>
      </div>
  </md-sidenav-layout>
</div>

<!-- <md-card class="controls">

</md-card>

<div class="floor-view">
  <div class="circle table"
       (mousedown)="mouseDown($event)"
       (mouseup)="mouseUp($event)"
       [ngStyle]="{
                    'width': slidey.value + 'px',
                    'height': slidey.value + 'px',
                    'transform': 'translate('+ (x === null ? '50vw' : (x - slidey.value / 2) + 'px') + ','+ (y === null ? '50vh' : (y - slidey.value / 2) + 'px') + ')'
                  }"></div>
</div> -->
