<div #svgele class="floor-view">
  <svg  width="1920" height="1000" viewbox="0 0 1920 1000"
  (mouseup)="mouseUpTable($event)"
  (mousemove)="mouseMoveTable($event, svgele)">
    <g *ngFor="let table of tables; let i = index">
      <g *ngIf="table.type === 'circle'" (mousedown)="mouseDownTable($event, table.type, i)">
        <circle [attr.cx]="table.attributes.cx" [attr.cy]="table.attributes.cy" [attr.r]="table.attributes.r" [attr.style]="table.attributes.style_str"/>
        <!-- <text [attr.x]="table.attributes.x" [attr.y]="table.attributes.y" font-family="Verdana" font-size="35">{{i}}</text> -->
      </g>
      <g *ngIf="table.type === 'square'" (mousedown)="mouseDownTable($event, table.type, i)" >
        <rect [attr.x]="table.attributes.x" [attr.y]="table.attributes.y"
        [attr.width]="table.attributes.width" [attr.height]="table.attributes.height" [attr.style]="table.attributes.style_str"/>
        <!-- <text [attr.x]="table.attributes.x" [attr.y]="table.attributes.y" font-family="Verdana" font-size="35">{{i}}</text> -->
      </g>
    </g>
    <!-- <circle cx="65" cy="65" r="50" stroke="black" fill="white"/>
    <rect x="130" y="15" width="100" height="100" stroke="black" fill="white"/>
    <rect x="245" y="15" width="200" height="100" stroke="black" fill="white"/> -->
  </svg>
</div>
